<nav class=" bg-white shadow fixed w-full top-0 left-0" [class.hidden]="navbarHidden">
    <div class="container px-6 py-4 mx-auto">
        <div class="lg:flex lg:items-center lg:justify-between">
            <div class="flex items-center justify-between">
                <a routerLink="/">
                    <img class="w-auto h-28 sm:h-20" src="../../../assets/logo.png" alt="">
                </a>
                <!-- Mobile menu button -->
                <div class="flex lg:hidden">
                    <button x-cloak (click)="isOpen = !isOpen" type="button" class="text-gray-500  hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                        <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                        </svg>

                        <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>

            <div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:bg-transparent lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center">
                <div class="flex flex-col -mx-6 lg:flex-row lg:items-center lg:mx-8">
                    <ng-container *ngIf="(authState$ | async) as authState">
                      <ng-container *ngIf="authState.isAuthenticated && authState.role === 'admin'">
                        <a routerLink="/dashboard" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0 hover:bg-gray-100">Dashboard</a>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="(authState$ | async) as authState">
                      <ng-container *ngIf="authState.isAuthenticated && authState.role === 'client'">
                        <a routerLink="/subscription-plans" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0 hover:bg-gray-100">subscription plans</a>
                      </ng-container>
                    </ng-container>
                  <ng-container *ngIf="(authState$ | async) as authState">
                    <ng-container *ngIf="authState.isAuthenticated && authState.role === 'client'">
                      <a routerLink="/" class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0 hover:bg-gray-100">chat</a>
                    </ng-container>
                  </ng-container>
                </div>
                <ng-container *ngIf="(authState$ | async) as authState">
                    <div *ngIf="authState.isAuthenticated; else notAuthenticated" class="flex items-center">
                      <button (click)="logout()" class="bg-blue-500 text-white px-4 py-2 rounded focus:outline-none">Logout</button>
                    </div>
                    <ng-template #notAuthenticated>
                      <div class="flex items-center">
                        <button (click)="login()" class="bg-green-500 text-white px-4 py-2 rounded focus:outline-none">Login</button>
                      </div>
                    </ng-template>
                  </ng-container>

                  <div class="mx-5 flex items-center mt-4 lg:mt-0" *ngIf="(authState$ | async) as authState">
                    <button type="button" class="flex items-center focus:outline-none" aria-label="Toggle Profile Dropdown" routerLink="/profile" >
                      <div class="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full">
                        <img  src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                          class="object-cover w-full h-full" alt="avatar">
                      </div>
                      <span class="mx-3 text-gray-700">{{ authState.user?.name }}</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</nav>
