<nav class="bg-white shadow fixed w-full top-0 left-0 z-10">
  <div class="container px-6 mx-auto">
    <div class="flex justify-between items-center py-4 lg:py-0">
      <!-- Logo -->
      <a routerLink="/" class="flex items-center">
        <img class="w-auto h-10 lg:h-20 lg:py-4" src="../../../assets/logo.png" alt="">
        <span class="text-lg font-bold text-purple-800 ml-2">ProjectViz</span>
      </a>

      <!-- Burger and Delete Icon -->
      <div class="flex lg:hidden">
        <button (click)="toggleMobileMenu()" type="button"
          class="text-gray-500  hover:text-gray-600 focus:outline-none">
          <svg *ngIf="!showMobileMenu" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>

          <svg *ngIf="showMobileMenu" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden lg:flex lg:items-center lg:ml-4">
        <div class="flex flex-col -mx-6 lg:flex-row lg:items-center lg:mx-8">
          <ng-container *ngIf="(authState$ | async) as authState">
            <ng-container *ngIf="authState.isAuthenticated">
              <a routerLink="/" [ngClass]="isRouteActive('/') ? 'rounded-br-lg rounded-none' : ''"
                class="text-black rounded-md px-3 py-2 mt-2 transition-colors duration-300 transform lg:mt-0 hover:bg-gray-100">Home</a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="(authState$ | async) as authState">
            <ng-container *ngIf="authState.isAuthenticated">
              <a routerLink="/subscription-plans"
                [ngClass]="isRouteActive('/subscription-plans') ? 'border-purple-500 rounded-br-lg border-b-4 rounded-none' : ''"
                class="text-black rounded-md px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform lg:mt-0 hover:bg-gray-100">Subscription
                plans</a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="(authState$ | async) as authState">
            <ng-container *ngIf="authState?.isAuthenticated">
              <a routerLink="/chat"
                [ngClass]="isRouteActive('/chat') ? 'border-purple-500 rounded-br-lg border-b-4 rounded-none' : ''"
                class="text-black rounded-md px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform lg:mt-0 hover:bg-gray-100">Chat</a>
            </ng-container>
          </ng-container>
        </div>

        <ng-container *ngIf="(authState$ | async) as authState">
          <div *ngIf="authState.isAuthenticated; else notAuthenticated" class="flex items-center">
            <button (click)="logout()"
              class="bg-purple-500 text-white px-4 py-2 rounded focus:outline-none">Logout</button>
          </div>
          <ng-template #notAuthenticated>
            <div class="flex items-center">
              <button (click)="login()"
                class="bg-purple-blue-500 text-white px-4 py-2 rounded focus:outline-none">Login</button>
            </div>
          </ng-template>
        </ng-container>


        <div *ngIf="(authState$ | async) as authState" class="mx-5 flex items-center mt-4 lg:mt-0">
          <button *ngIf="authState.isAuthenticated" type="button" class="flex items-center focus:outline-none"
            aria-label="Toggle Profile Dropdown" routerLink="/profile">
            <div class="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full">
              <img
                src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                class="object-cover w-full h-full" alt="avatar">
            </div>
            <span class="mx-3 text-gray-700">{{ authState.user?.name}}</span>
          </button>
        </div>

      </div>
    </div>

    <!-- Mobile Menu -->
    <div *ngIf="showMobileMenu" class="lg:hidden">
      <div class="mt-2">
        <ng-container *ngIf="(authState$ | async) as authState">
          <!-- <ng-container *ngIf="authState.isAuthenticated"> -->
          <a routerLink="/subscription-plans"
            [ngClass]="isRouteActive('/subscription-plans') ? 'block text-purple-800 border-b-2 border-purple-800 py-2' : 'block text-gray-600 hover:text-purple-800 py-2'">Subscription
            plans</a>
          <a routerLink="/chat"
            [ngClass]="isRouteActive('/chat') ? 'block text-purple-800 border-b-2 border-purple-800 py-2' : 'block text-gray-600 hover:text-purple-800 py-2'">Chat</a>
          <!-- </ng-container> -->
        </ng-container>

        <ng-container *ngIf="(authState$ | async) as authState">
          <div *ngIf="authState.isAuthenticated; else notAuthenticated" class="mt-2">
            <button (click)="logout()"
              class="block w-full text-left px-4 py-2 text-gray-600 hover:text-purple-800 focus:outline-none">Logout</button>
          </div>
          <ng-template #notAuthenticated>
            <div class="mt-2">
              <button (click)="login()"
                [ngClass]="isRouteActive('/chat') ? 'block text-purple-800 border-b-2 border-purple-800 py-2' : 'block text-gray-600 hover:text-purple-800 pb-4 '">Login</button>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</nav>