<div class="bg-white px-4 py-10 md:px-8 md:py-16">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:gap-14">
        <div class="flex flex-col justify-center text-center md:text-left">
            <div class="flex items-center justify-center hidden lg:flex md:justify-start">
                <img class="h-5" src="../../../assets/logo.png" alt="logo">
                <h4 class="ml-2 text-sm font-bold tracking-widest text-purple-800 uppercase ">Explore the Latest AI
                    powered Website</h4>
            </div>
            <h1 class="mb-8 text-4xl font-extrabold mt-16 md:mt-5 lg:text-6xl text-dark-grey-900">Elevate,
                expand,
                Visualize your website Idea with ProjectViz</h1>
            <p class="mb-6 text-base font-normal leading-7 md:w-3/4 text-grey-900">
                Say goodbye to endless hours spent on planning from scratch. Experience the quickest and trendiest
                planning and structuring solution available. Seriously.
            </p>
            <div class="flex flex-col items-center md:flex-row">
                <a href="/login"
                    class="flex items-center py-4 text-sm font-bold text-white px-7 bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 transition duration-300 rounded-xl">Get
                    started now</a>
            </div>
        </div>
        <div class="flex items-center justify-center md:justify-end">
            <img class="w-full md:w-4/5 rounded-md"
                src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/header-1.png"
                alt="header image">
        </div>
    </div>
</div>
<app-footer></app-footer>