<div class="bg-white mt-40">
    <div class="container px-6 py-8 mx-auto">
        <app-popup [show]="false" title="Payment">          
            <div class="container mx-auto mt-8">
              <div class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md">
                <div #cardElement class="p-4 border border-gray-300 rounded-md"></div>
                <button (click)="payWithCard()" class="mt-3 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Pay</button>
              </div>
            </div>
        </app-popup>
        <div class="flex flex-col items-center justify-center space-y-8 lg:-mx-4 lg:flex-row lg:items-stretch lg:space-y-0">
            <div [ngClass]="{'selected-plan': selectedPlan?.id === 1}" class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4 ">
                <div class="flex-shrink-0">
                    <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 ">
                        Free plan
                    </h2>
                </div>

                <div class="flex-shrink-0">
                    <span class="pt-2 text-3xl font-bold text-gray-800 uppercase ">
                        Free
                    </span>
                </div>

                <ul class="flex-1 space-y-4">
                    <li class="text-gray-500 ">
                        Up to 15 conversations
                    </li>
                </ul>

                <p *ngIf="selectedPlan?.id === 1" class="text-gray-500 font-semibold">Your plan</p>
            </div>

            <div [ngClass]="{'selected-plan': selectedPlan?.id === 2}" class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4  ">
                <div class="flex-shrink-0">
                    <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 ">
                        Basic plan
                    </h2>
                </div>

                <div class="flex-shrink-0">
                    <span class="pt-2 text-3xl font-bold text-gray-800 uppercase ">
                        500 DH
                    </span>
                    
                    <span class="text-gray-500 ">
                        /month
                    </span>
                </div>

                <ul class="flex-1 space-y-4">
                    <li class="text-gray-500 ">
                        Up to 200 conversations
                    </li>
                </ul>

                <p *ngIf="selectedPlan?.id === 2" class="text-gray-500 font-semibold">Your plan</p>
                <button *ngIf="selectedPlan?.id !== 2" class="inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none" (click)="choosePlan(2)">
                    Choose Plan
                </button>
            </div>

            <div [ngClass]="{'selected-plan': selectedPlan?.id === 3}" class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4  ">
                <div class="flex-shrink-0">
                    <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 ">
                        Premium plan
                    </h2>
                </div>

                <div class="flex-shrink-0">
                    <span class="pt-2 text-3xl font-bold text-gray-800 uppercase ">
                        790 DH
                    </span>

                    <span class="text-gray-500 ">
                        /month
                    </span>
                </div>

                <ul class="flex-1 space-y-4">
                    <li class="text-gray-500 ">
                        Unlimited conversations
                    </li>
                </ul>

                <p *ngIf="selectedPlan?.id === 3" class="text-gray-500 font-semibold">Your plan</p>
                <button *ngIf="!(selectedPlan?.id === 3)" class="inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none" (click)="choosePlan(3)">
                    Choose Plan
                </button>
            </div>
        </div>
    </div>
</div>
